{# draw_member/templates/draw_member/home.html #}
{% extends 'draw_member/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'draw_member/css/home.css' %}" />
{% endblock css %}

{% block content %}
<div class="container">
    <h1 id="home-title">抽籤吧！遊戲BOY!</h1>
    <form action="{% url 'draw' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">抽牌</button>
    </form>
</div>

{% endblock content %}
